/doc/.obsidian
/unity/CrazyChineseChess/ProjectSettings
/unity/CrazyChineseChess/Temp
/unity/CrazyChineseChess/UserSettings
/unity/CrazyChineseChess/Library
/unity/CrazyChineseChess/Logs
Builds
.vs
/unity/Builds.rar
