/doc/.obsidian
/unity/CrazyChineseChess/ProjectSettings
/unity/CrazyChineseChess/Temp
/unity/CrazyChineseChess/UserSettings
/unity/CrazyChineseChess/Library
/unity/CrazyChineseChess/Logs
/unity/ChineseChessHonor/ProjectSettings
/unity/ChineseChessHonor/Temp
/unity/ChineseChessHonor/UserSettings
/unity/ChineseChessHonor/Library
/unity/ChineseChessHonor/Logs
Builds
.vs
/unity/Builds.rar
*.cache
*.csproj
/suno
/unity/ChineseChessHonor/Assets/Casual Game Sounds U6
/unity/ChineseChessHonor/Assets/Free Pack
/unity/ChineseChessHonor/Assets/Leohpaz
